# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pm2.log
pm2-error.log

# IDE / Editor files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build artifacts
/dist
/build
/public/assets

# Temporary files
tmp/
temp/
.cache/

# OS-specific files
*.swp
*.swo
*.bak
